@page
@model IndexModel
@{
    ViewData["WYHL"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">O que você perdeu enquanto estava no celular?</h1>
    <p>Leia a documentação dessa aplicação <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
    
    <p> Um idoso feliz </p>

</div>
