@page
@model IndexModel
@{
    ViewData["WYHL"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">O que você perdeu enquanto estava no celular?</h1>
</div>
<p>A aplicação em C# e Razor Pages tem como objetivo exibir notícias que os usuários possam ter perdido enquanto estavam no celular. Utilizando SQL para armazenar informações e Razor para a interface, a aplicação está hospedada no Azure. Além disso, as imagens das notícias são obtidas do Blob Storage.</p>
<p> Os usuários podem acessar a página de notícias, onde encontrarão uma lista de títulos relevantes. Cada título é um link para a página de detalhes, onde podem ler o conteúdo completo, ver a imagem associada e verificar a fonte da notícia. As informações são armazenadas no banco de dados e as imagens são recuperadas do Blob Storage.</p>
<p>No geral, essa aplicação oferece uma maneira fácil e conveniente de acessar notícias relevantes que os usuários possam ter perdido enquanto estavam no celular. Utilizando tecnologias modernas como C#, Razor Pages, SQL e Azure.</p>
<p>Leia os detalhes no GitHub <a href="https://github.com/darakimberlys/WhatHaveYouLost" target="_blank">aqui!</a>.</p>

<h4>Selecione a aba "Notícias" para acompanhar!</h4>

<link rel="stylesheet" href="styles.css">
