@page "/manage"
@model WhatYouHaveLost.Pages.ManageModel
@{
    ViewData["Title"] = "Gestão de Notícias";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    
    <a class="btn btn-primary" asp-page="Create">Criar Nova Notícia</a>
    
    <table class="table">
        <thead>
        <tr>
            <th>Título</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var newsItem in Model.NewsItems)
        {
            <tr>
                <td>@newsItem.Title</td>
                <td>
                    <a class="btn btn-info" asp-page="Edit" asp-route-id="@newsItem.Id">Editar</a>
                    <a class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@newsItem.Id">Apagar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
