@page "/news"
@model NewsModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>OQVP</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Nesta página você vai selecionar uma das notícias que você pode ter perdido, porque estava no celular</h1>
    </div>

    <div>
            <h2>Qual a notícia que quer ver?</h2>
            <ul>
                @foreach (var news in Model.NewsList)
                {
                    <li>
                        <a asp-page="Details" asp-route-id="@news.Id">@news.Title</a>
                    </li>
                }
            </ul>
        </div>
</body>
</html>
